.controlPanel {
  padding: 25px;
  text-align: center;

  .controlPanelBtn {
    margin: 0 20px;
    color: white;
    background-color: black;

  }
}
.brandsRedactor, .modelRedactor, .itemsRedactor {
  margin: $freeSpace*2 0;


  .controlPanelTitle {
    text-align: center;
  }

  .brandsRedactorTitle {
    color: white;
    background-color: black;
  }


}

.controlPanelBtn {
  color: white;
  background-color: black;
  border: 1px solid black;
  &:hover, &:active, &:focus {
    background-color: black !important;
    border: 1px solid black !important;
    -webkit-box-shadow: 0 0 5px 0 rgba(138,138,138,1) !important;
    -moz-box-shadow: 0 0 5px 0 rgba(138,138,138,1) !important;
    box-shadow: 0 0 5px 0 rgba(138,138,138,1) !important;
  }

}


.brandsRedactorItem {
  margin: $freeSpace;
  padding: $freeSpace *2;
  text-align: center;
  border: 1px solid $borderColor;
  border-radius: 10px;
}


.loginForm {
  margin: $freeSpace*2 auto;
}

.loginForm label {
  font-size: 12px;
  font-weight: 400;
}

.loginForm input {
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-bottom: 2px solid $borderColor;
  background-color: $bgColor;

}

.loginFormTitle {
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 600;
}


.loginButton, .loginButton:hover, .loginButton:active, .loginButton:focus, .loginButton:target {
  color: #fff;
  background-color: black;
  border-style: none;
}

.registerButton, .registerButton:hover,.registerButton:active, .registerButton:focus, .registerButton:target {
    color: black;
  border: none;
  outline: none;
  text-decoration: none;
}





