.brandItem {
  @media (max-width: 1199px) {
    display: none;
  }
}

.carsSelect {
  @media (max-width: 1199px) {
    display: block;
  }
  @media (min-width: 1199px) {
    display: none;
  }
}

.catalogItems {
  //min-height: 1110px;
}

.catalogFilter {
  padding: $freeSpace*2;
}

